---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=lJPTd1IeRVA%2Br7C4nbsiHI4lOXyruh0L4chRAIH3jPw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:52:34Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; linux-vtfq)"></Header></HTTPHeaders><RequestId>2d99d054-c2ff-4dd0-98b2-2fe95127f265</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJIS2RKSGQSBM252A"></Argument><Argument Name="AssociateTag"
        Value="alexpr00-20"></Argument><Argument Name="ItemId" Value="B01KO4Z9TS"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Reviews,OfferSummary,SalesRank"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2017-08-26T08:52:34Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="lJPTd1IeRVA+r7C4nbsiHI4lOXyruh0L4chRAIH3jPw="></Argument></Arguments><RequestProcessingTime>0.0220266150000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B01KO4Z9TS</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><ResponseGroup>SalesRank</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B01KO4Z9TS</ASIN><DetailPageURL>https://www.amazon.com/Mostsola-String-Perfect-Pictures-Artwork/dp/B01KO4Z9TS?SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B01KO4Z9TS</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/Mostsola-String-Perfect-Pictures-Artwork/dp/tech-data/B01KO4Z9TS?SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B01KO4Z9TS</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B01KO4Z9TS&amp;SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;crea[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=yA2yK3uGSD%2BWb2LJm83J1DoBb%2BHM2TGdPc%2BZ9K1ubuU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:52:35Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  respon[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=mT/eow/WAvc3nyvAYDaXEA==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=voKJfpKZ5rEk6fPm1Hpbl10nz0p0uSWcuoSa5qOVGCU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:52:35Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; linux-vtfq)"/></HTTPHeaders><RequestId>6104a3c8-0dc1-4d29-a0ea-2a7d0ed6d125</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJIS2RKSGQSBM252A"/><Argument Name="AssociateTag"
        Value="alexpr00-20"/><Argument Name="HMAC" Value="mT/eow/WAvc3nyvAYDaXEA=="/><Argument
        Name="Item.1.ASIN" Value="B01KO4Z9TS"/><Argument Name="Item.1.Quantity" Value="999"/><Argument
        Name="Operation" Value="CartCreate"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="SignatureMethod" Value="HmacSHA256"/><Argument Name="SignatureVersion"
        Value="2"/><Argument Name="Timestamp" Value="2017-08-26T08:52:35Z"/><Argument
        Name="Version" Value="2013-08-01"/><Argument Name="Signature" Value="voKJfpKZ5rEk6fPm1Hpbl10nz0p0uSWcuoSa5qOVGCU="/></Arguments><RequestProcessingTime>0.090971656</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B01KO4Z9TS</ASIN><Quantity>999</Quantity></Item></Items></CartCreateRequest><Errors><Error><Code>AWS.ECommerceService.InvalidQuantity</Code><Message>You
        have exceeded the maximum quantity allowed for the following items: B01KO4Z9TS.</Message></Error></Errors></Request><CartId>145-5292041-9183003</CartId><HMAC>JeCGho5IhxgyGS0flQzpqAuxPlE=</HMAC><URLEncodedHMAC>JeCGho5IhxgyGS0flQzpqAuxPlE%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.com/gp/cart/aws-merge.html?cart-id=145-5292041-9183003&amp;associate-id=alexpr00-20&amp;hmac=JeCGho5IhxgyGS0flQzpqAuxPlE%3D&amp;SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>577436</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5,774.36</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>577436</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5,774.36</FormattedPrice></SubTotal><CartItem><CartItemId>C1WBG9XNCTD8WS</CartItemId><ASIN>B01KO4Z9TS</ASIN><SellerNickname>RIUDA</SellerNickname><Quantity>964</Quantity><Title>Mostsola
        20 Pcs LED Photo Clip String Lights Perfect for Pictures Notes Artwork LED
        Decor (Warm White)</Title><ProductGroup>Lighting</ProductGroup><Price><Amount>599</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5.99</FormattedPrice></Price><ItemTotal><Amount>577436</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5,774.36</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartCreateResponse>'
  recorded_at: Sat, 26 Aug 2017 08:52:35 GMT
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=ZlMQ1jLb1RmDlJ%2B1Zet24IElgqwC0y5ZhPzCZwGMcfE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:52:57Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=cG8MnS9DSjvJw2GXGa5STg==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=ddMpcPOg9WpE6swmvDPPv9/Xh5Afw90E%2BCmfiRO5H9A=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:00:01Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=FsxgKKUD3sTdYjgw01a6FmryIl2aB1WI9ZKZYuMLrmY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:00:02Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=4WuR6wAUCs5%2Bizc1OzvMAA==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=qB1xRa/oXoXYfKR5RvrW81pAFXJOkTzCInhjzyqKDRQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:00:24Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=D5sWLBqhih6n/uBbNdMkmslzNa%2B7YdFGw7UkLjVGQC4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:00:24Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Cneonction:
      - close
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <ItemLookupErrorResponse xmlns="http://ecs.amazonaws.com/doc/2013-08-01/"><Error><Code>RequestThrottled</Code><Message>AWS Access Key ID: AKIAJIS2RKSGQSBM252A. You are submitting requests too quickly. Please retry your requests at a slower rate.</Message></Error><RequestID>ee614d04-fead-4a7f-962b-5fff45992897</RequestID></ItemLookupErrorResponse>
  recorded_at: Sat, 26 Aug 2017 09:00:24 GMT
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=zL/ftx2NVzPF108x70jt2w==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=FPOuRqsl5SmdL%2BVIu8IXuqg8TjIF2/QY5SR0wkn3P2A=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:00:52Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Cneonction:
      - close
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <CartCreateErrorResponse xmlns="http://ecs.amazonaws.com/doc/2013-08-01/"><Error><Code>RequestThrottled</Code><Message>AWS Access Key ID: AKIAJIS2RKSGQSBM252A. You are submitting requests too quickly. Please retry your requests at a slower rate.</Message></Error><RequestID>880d5707-c349-433f-a11a-eac7ddb8cee4</RequestID></CartCreateErrorResponse>
  recorded_at: Sat, 26 Aug 2017 09:00:52 GMT
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=xJ9KX4uTJqPEDNW47muwzS3LsjZ%2B7phB2neCMGOyEX4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:00:52Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=K5fS9gF9/kiuKCOwDdAGssiJkk20z%2BUwMgFxPnd38fE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:01:06Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=OPGf6BVJ0eS1jfOwkaO6zg==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=hmrwjheAuik8OjLqGU%2BpGdltZPnnwA2tIIxMKxt8Ra0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:01:06Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=uQVwHmBr9W624/9d8TWf3FiXUTQk0MmnXAVJKG85CBE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:01:07Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=hgCeQWMkliCOEAcv7Dt1lHC2LwaVH2yusEv1UKQD8o0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:04:59Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=Bpwz5Co8bDcWM2mE3L1scMtD0b0FsuIQSyoYpWLiQ9M=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:05:00Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=UWY0kKInzcFHmy%2BQl94rN9rYxxB7ibAK9FMEzM3ljbA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:05:01Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=OQYUAP7UFH8Z5Nu80KBiXyrjlcdQ/65B0j3L0YtJ3t4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:05:02Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=l8%2BrcyqDRpGNcBMc7/S/smXYc%2BeaAMX3eAEPYBO5EhY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T09:05:04Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=wH6yCzEJVbjILtjbsPwEiFVYEs70XVIfOfbI85rg3fM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T10:48:58Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=DfjEe1v8pr26PFgOsNax9L/FEl1bsSj26i8Ebq8TLsg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T10:48:59Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=a9HDOon5f/6hSBZL5LZMk35TysnC2Z%2BSXpHqYE157OQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T10:50:37Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=a4aaxvXCKDUwBT0rM/tgWBOBIVydxuw8wVRkbUWZ/U4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T10:50:38Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=dIbM3qzS5zwoEbuKjEcQgkm90cTwmAzjppPdIJ7JbT8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T11:12:31Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=E0p9ai8ayrkzBU%2BymhLzqccS9DEYXY3o1rtQ3cSow0c=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T11:12:32Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
