---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=YUtXAzd1cIQPdpfPMQDo%2Bm1bOiT7a/tjjX/pVNOXgOE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:48:43Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; linux-vtfq)"></Header></HTTPHeaders><RequestId>b1388ef9-089e-42f2-8cc5-237d98d7931c</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJIS2RKSGQSBM252A"></Argument><Argument Name="AssociateTag"
        Value="alexpr00-20"></Argument><Argument Name="ItemId" Value="B01KO4Z9TS"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Reviews,OfferSummary,SalesRank"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2017-08-25T01:48:43Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="YUtXAzd1cIQPdpfPMQDo+m1bOiT7a/tjjX/pVNOXgOE="></Argument></Arguments><RequestProcessingTime>0.0229834010000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B01KO4Z9TS</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><ResponseGroup>SalesRank</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B01KO4Z9TS</ASIN><DetailPageURL>https://www.amazon.com/Mostsola-String-Perfect-Pictures-Artwork/dp/B01KO4Z9TS?SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B01KO4Z9TS</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/Mostsola-String-Perfect-Pictures-Artwork/dp/tech-data/B01KO4Z9TS?SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B01KO4Z9TS</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B01KO4Z9TS&amp;SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;crea[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=Bxq%2B0K1Ghw4XAjBz3%2B0cMayhhTZ/cO4tyClr4sAiTAc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:50:05Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=moizG8i2OcQp5qRWWw667AJOCvxzRqSfjd0C0qzha/A=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:50:37Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=ES4MUZSU72%2BXVjn3KN3pFn0wDCeYFHK3CpZMFmnnD8A=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:50:50Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=qp1EOQGeXGiVYBliuBvUCVnvN%2BuRB8NPs9grdVMbflE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:51:23Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=NyxDEWGt1/FZFULDXW01iiteaYAaIbQ0VqGH3bECwrs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:51:47Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=GHJcFmXkK9132jRIdQMN9/le3NCcRtuC2y/Xvv0fVV8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:53:42Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=UEme1rIx%2Bxz5GRgxwazl8lapOD5gM5ImNJJ/jDsGT/w=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:53:52Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=clIYmRIRrh76HVpomzdONG9J%2BIRGwkg0SAfFFmW%2BmiA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:53:54Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=R6mOrN8PNj0nIaoBMIUrTE%2BZCuYUF6Ub3XX90ID/Zts=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:53:57Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=jq4Lv7xg3Sg1h2WVptErCFKf24%2BQquGVoL2jRaEwS7k=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:54:38Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=2SMFP5jxnqsWUpzgsTLVdRJsqSGtAoCL%2BSyKhmmIPOI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:54:41Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=tcAbGfWVKZqUlu4FwQE9MQ35I45iXzvKnsv6IBRZFJ8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:55:17Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=6%2BaqgLG%2BN7cjptHWqWZR8qJDpGtuSf12F4xTbPjw%2BNM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:55:18Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  respon[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=KmrcN2O%2BGBQt7TeEbOqDc4oCHxOaUkfGB5txl9OJAHc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:55:44Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=IwTAQnixM6OBX0YShBJYtA7JMFl5UvXui5JjO49sDcI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:55:45Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=WUCClAuOA9J5MPCTdTeBJZjsuxPWBDgSqKHef2UNaC8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:56:12Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=lsrfnQ6beiON67FZP/LtpGl09Mcc%2Bbi0u0Z0eZSGrYI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:56:17Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=OiHCVrDyH5/Gq1OzKhij1Z7UwkhwzW39jhYSdHJUTJs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:58:22Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=pbCREyZQylvf3MLRC54SX7cDsg7RyLIxVibqtT9XyII=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:58:55Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=Xpn5eO9rfauiQxqJj7QtNyZHXpwme8WvlKMKLYJxn3M=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T01:59:05Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=fIDZlvVdJA08jlJ6LKw2oBLe5bb8qaFzwHWQbVaN7r8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:04Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=IjWzSiWKN/VHKJIjI4BYm/83Wxf8i0iQyXq8/V90qgg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:05Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=T4RrXkdO7xF97rAcmwr3EYZDbdhMWRZ4sYE%2BYl56nCM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:06Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=ojO2uTheRagKLSSYpzRhLkl5pPQCDujhUZOBXQq9ywQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:07Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=A/Xf2i9hBaljPYWF2T5e5h91pugroZDM/uhxQMJYR1Y=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:32Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=4XdDlOYHb/wrYIjuMaP9bCWARvhjT4Jc4gchcHkjFQI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:49Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=GIRK9n3CUEJTXVuq7YP0WMQKdyQWvqWoq8plDpPLrw4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-25T02:04:50Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
