---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=Qce6MOxk2X6myN651G%2BZZQY/H6QoAWlHKYBTmaTllCg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:16:18Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; linux-vtfq)"></Header></HTTPHeaders><RequestId>ac616329-3829-4cca-aaac-98b34a023cdd</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJIS2RKSGQSBM252A"></Argument><Argument Name="AssociateTag"
        Value="alexpr00-20"></Argument><Argument Name="ItemId" Value="B01KO4Z9TS"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Reviews,OfferSummary,SalesRank"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SignatureVersion" Value="2"></Argument><Argument
        Name="Timestamp" Value="2017-08-26T08:16:18Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="Qce6MOxk2X6myN651G+ZZQY/H6QoAWlHKYBTmaTllCg="></Argument></Arguments><RequestProcessingTime>0.0833403410000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B01KO4Z9TS</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><ResponseGroup>SalesRank</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B01KO4Z9TS</ASIN><DetailPageURL>https://www.amazon.com/Mostsola-String-Perfect-Pictures-Artwork/dp/B01KO4Z9TS?SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B01KO4Z9TS</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/Mostsola-String-Perfect-Pictures-Artwork/dp/tech-data/B01KO4Z9TS?SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B01KO4Z9TS</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B01KO4Z9TS&amp;SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;tag=alexpr00-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;crea[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=TsNcqWwMWgvEATeOF1qBlg==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=RR0ylNek/pKETzSiojwk6/1Y/4pytoNH9hUjxA9Brc8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:28:36Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; linux-vtfq)"/></HTTPHeaders><RequestId>4b25b8ae-e54f-42d2-8137-00c527fa0fdb</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJIS2RKSGQSBM252A"/><Argument Name="AssociateTag"
        Value="alexpr00-20"/><Argument Name="HMAC" Value="TsNcqWwMWgvEATeOF1qBlg=="/><Argument
        Name="Item.1.ASIN" Value="B01KO4Z9TS"/><Argument Name="Item.1.Quantity" Value="999"/><Argument
        Name="Operation" Value="CartCreate"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="SignatureMethod" Value="HmacSHA256"/><Argument Name="SignatureVersion"
        Value="2"/><Argument Name="Timestamp" Value="2017-08-26T08:28:36Z"/><Argument
        Name="Version" Value="2013-08-01"/><Argument Name="Signature" Value="RR0ylNek/pKETzSiojwk6/1Y/4pytoNH9hUjxA9Brc8="/></Arguments><RequestProcessingTime>0.11927613</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B01KO4Z9TS</ASIN><Quantity>999</Quantity></Item></Items></CartCreateRequest><Errors><Error><Code>AWS.ECommerceService.InvalidQuantity</Code><Message>You
        have exceeded the maximum quantity allowed for the following items: B01KO4Z9TS.</Message></Error></Errors></Request><CartId>144-4746302-6048848</CartId><HMAC>rEL2cZ5hErZwn60vjO6+stegEWk=</HMAC><URLEncodedHMAC>rEL2cZ5hErZwn60vjO6%2BstegEWk%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.com/gp/cart/aws-merge.html?cart-id=144-4746302-6048848&amp;associate-id=alexpr00-20&amp;hmac=rEL2cZ5hErZwn60vjO6%2BstegEWk%3D&amp;SubscriptionId=AKIAJIS2RKSGQSBM252A&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>577436</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5,774.36</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>577436</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5,774.36</FormattedPrice></SubTotal><CartItem><CartItemId>C1WBG9XNCTD8WS</CartItemId><ASIN>B01KO4Z9TS</ASIN><SellerNickname>RIUDA</SellerNickname><Quantity>964</Quantity><Title>Mostsola
        20 Pcs LED Photo Clip String Lights Perfect for Pictures Notes Artwork LED
        Decor (Warm White)</Title><ProductGroup>Lighting</ProductGroup><Price><Amount>599</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5.99</FormattedPrice></Price><ItemTotal><Amount>577436</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$5,774.36</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartCreateResponse>'
  recorded_at: Sat, 26 Aug 2017 08:28:36 GMT
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=b4VaArUwgfE6F39lGxUK7zw%2BCGROYsjjN6NMdYaoyV4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:29:02Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=m3rbqpsvRALqxTT4aa9DOA==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=i7ouXpr7ifzZ48zdald764ZRTv1G4Wc/rmMu3WncJU8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:29:06Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=HBnEF15KtRy4p2RDJkNjJA==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=8WZNahBaFT/qU6P7AxwVUYKI2jTTmhYTILH1kRQIboI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:31:02Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=201CXbPFCILyxR/rkE/Kwpo3HSTn4VzqsBAMNd2l8gY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:31:16Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=5OU%2BazZEhZGQbBmOH0Z9pg==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=%2B4virUf%2Bxdi07dUVy6/s0eWK8Exzo/aS912pzH30kS4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:31:45Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    stat[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=qnGzjhYngUvNfnpm8KPmLkZrELJGExEsf0FgkViPGP4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:31:47Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=hrJf8QzBGc5bS83kQVsAE7sg0Hg65LWlCEnj5j1frZI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:35:17Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=khUGJKhO4d4iu4Y%2BENFbmw==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=onGrFoR/KRH9R6%2B1Oi%2BfIxOdHVP%2BdSoZB7hGUqbY35Q=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:35:17Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    st[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=sejK3ZQ8mNLW7OIlloNwIg==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=kMPq4M9d8AA5o4B1zQoy8KUUhnIj85YNcOC6nK1gqJ8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:46:44Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=E5lbu8tLQpTTQxE27hd2tPbWHKKDQre97pr6RP1AWtU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:46:45Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Cneonction:
      - close
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <ItemLookupErrorResponse xmlns="http://ecs.amazonaws.com/doc/2013-08-01/"><Error><Code>RequestThrottled</Code><Message>AWS Access Key ID: AKIAJIS2RKSGQSBM252A. You are submitting requests too quickly. Please retry your requests at a slower rate.</Message></Error><RequestID>6144a554-8c5a-4ec5-948d-84842eb5d257</RequestID></ItemLookupErrorResponse>
  recorded_at: Sat, 26 Aug 2017 08:46:45 GMT
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=n/ii9r1UrOULvR4JEdZeYw==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=HM%2B0lH9eF21hPZ6xt4bDHpO9O08DoqOWbXb3n81lzAU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:46:55Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=Jm7%2BkbOshn8V6AMBF6lSyHF93OpT8Wiin%2BcdZj16Z5g=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:46:56Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=vsQee2GOKRP9NlVTPMjRB3DUneAzbfYNwuTF6niYLI0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:47:14Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=otxVmHByxmB6ETIYuJzUUw==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=8WJPAJOJ/%2BcGKvwM6ticueKM0ctLObrToxzB8XFtWYo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:47:14Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&HMAC=d00QSv8nSZaJi1n80m0hmg==&Item.1.ASIN=B01KO4Z9TS&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=NXH4x%2BJb%2BpodIFJFwRHEGwvhoU6VHpvrYPDZ%2BUqId%2Bc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:47:54Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    st[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJIS2RKSGQSBM252A&AssociateTag=alexpr00-20&ItemId=B01KO4Z9TS&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews,OfferSummary,SalesRank&Service=AWSECommerceService&Signature=Wh7nd4tl0aI3RDxY2MvmWA8IdYnFOp113nP8pUs//S4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-08-26T08:47:55Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
  [...]
